<h5><strong>NMC-No Movement Clause</strong> A player with a NMC cannot be traded or sent to a minor league team without their consent.</h5>
<h5><strong>NTC-No Trade Clause.</strong> A Player with a NTC submits a list of 10-20 teams they would not accept a trade to. However, they can be traded to an unlisted team at any time.</h5>
<h5><strong>UFA-Unrestricted Free Agent.</strong> A UFA is free to sign with any team.</h5>
<h5><strong>RFA-Restricted Free Agent.</strong> A RFA can sign offer sheets with any team, but their original team has the right to match that offer sheet and retain the player.</h5>
<h5><strong>EL or ELC-Entry Level Contract.</strong> Special contract signed by rookies, which calculates AAV differently from salary.</h5>
<h5><strong>AAV-Average Annual Value</strong> AAV is the total salary of a player that counts towards the team's salary cap.</h5>
<h5><strong>Salary Cap</strong> Total salary a team can spend on fielding its players. In 2016, the salary cap is $73 million.</h5>
