<div class="home">
  <img src="../../images/homeimg.jpeg"/>

<h1>{{ home.message }}</h1>

<div id="east" class="col-md-6">
  <h2>Eastern Conference</h2>
  <div id="atlantic" class="col-md-6">
    <h3>Atlantic Division</h3>
    <a href='#bruins' id='bruinsButton' class="btn col-md-12">Boston Bruins</a>
    <a href='#sabres' id='sabresButton' class="btn col-md-12">Buffalo Sabres</a>
    <a href='#redwings' id='redWingsButton' class="btn col-md-12">Detroit Red Wings</a>
    <a href='#panthers' id='panthersButton' class="btn col-md-12">Florida Panthers</a>
    <a href='#canadiens' id='canadiensButton' class="btn col-md-12">Montreal Canadiens</a>
    <a href='#senators' id='senatorsButton' class="btn col-md-12">Ottawa Senators</a>
    <a href="#lightning" id='lightningButton' class="btn col-md-12">Tampa Bay Lightning</a>
    <a href='#leafs' id='leafsButton' class="btn col-md-12">Toronto Maple Leafs</a>
  </div>
  <div id="metropolitan" class="col-md-6">
    <h3>Metropolitan Division</h3>
    <a href='#hurricanes' id='hurricanesButton' class="btn col-md-12">Carolina Hurricanes</a>
    <a href='#jackets' id='jacketsButton' class="btn col-md-12">Columbus Blue Jackets</a>
    <a href='#devils' id='devilsButton' class="btn col-md-12">New Jersey Devils</a>
    <a href='#islanders' id='islandersButton' class="btn col-md-12">New York Islanders</a>
    <a href='#rangers' id='rangersButton' class="btn col-md-12">New York Rangers</a>
    <a href='#flyers' id='flyersButton' class="btn col-md-12">Philadelphia Flyers</a>
    <a href='#penguins' id='penguinsButton' class="btn col-md-12">Pittsburgh Penguins</a>
    <a href='#capitals' id='capitalsButton' class="btn col-md-12">Washington Capitals</a>
  </div>
</div>
<div id="west" class="col-md-6">
  <h2>Western Conference</h2>
  <div id="central" class="col-md-6">
    <h3>Central Division</h3>
    <a href='#blackhawks' id='blackhawksButton' class="btn col-md-12">Chicago Blackhawks</a>
    <a href='#avalanche' id='avalancheButton' class="btn col-md-12">Colorado Avalanche</a>
    <a href='#stars' id='starsButton' class="btn col-md-12">Dallas Stars</a>
    <a href="#wild" id='wildButton' class="btn col-md-12">Minnesota Wild</a>
    <a href='#predators' id='predsButton' class="btn col-md-12">Nashville Predators</a>
    <a href='#blues' id='bluesButton' class="btn col-md-12">Saint Louis Blues</a>
    <a href='#jets' id='jetsButton' class="btn col-md-12">Winnipeg Jets</a>
  </div>
  <div id="pacific" class="col-md-6">
    <h3>Pacific Division</h3>
    <a href="#ducks" id='ducksButton' class="btn col-md-12">Anaheim Ducks</a>
    <a href='#coyotes' id='coyotesButton' class="btn col-md-12">Arizona Coyotes</a>
    <a href='#flames' id='flamesButton' class="btn col-md-12">Calgary Flames</a>
    <a href='#oilers' id='oilersButton' class="btn col-md-12">Edmonton Oilers</a>
    <a href='#kings' id='kingsButton' class="btn col-md-12">Los Angeles Kings</a>
    <a href='#sharks' id='sharksButton' class="btn col-md-12">San Jose Sharks</a>
    <a href='#canucks' id='canucksButton' class="btn col-md-12">Vancouver Canucks</a>
  </div>
</div>

</div>
