<div class="trade">
  <img src="../../images/nhlshield.png"/>
  <div class="col-md-6">
    <select ng-model="teamOne" ng-options="teams.name for teams in trade.teams" ng-change="getPlayerInfo()">
    </select>

<!-- <h2>{{ trade.salaryCap }}</h2> -->
<!-- <li ng-repeat="player in teams"></li> -->

<table>
<thead>
  <tr>
    <th>Player Name</th>
    <th>Contract Terms</th>
    <th>Position</th>
    <th>2016-2017 AAV</th>
    <th>2017-2018 AAV</th>
    <th>2018-2019 AAV</th>
  </tr>
</thead>
<tbody>
  <tr class='player' ng-repeat='player in trade.tradePlayers'>
    <td>{{ player.name }}</td>
    <td>{{ player.contract_terms }}</td>
    <td>{{ player.position }}</td>
    <td>{{ player.AAV_sixteen_seventeen }}</td>
    <td>{{ player.AAV_seventeen_eighteen }}</td>
    <td>{{ player.AAV_eighteen_nineteen }}</td>
  </tr>
</tbody>
</div>

<div class="col-md-6">
  <select ng-model="teamTwo" ng-options="teams.name for teams in trade.teams" ng-change=>
  </select>
</div>

<table>
<thead>
  <tr>
    <th>Player Name</th>
    <th>Contract Terms</th>
    <th>Position</th>
    <th>2016-2017 AAV</th>
    <th>2017-2018 AAV</th>
    <th>2018-2019 AAV</th>
  </tr>
</thead>
<tbody>
  <tr class='player' ng-repeat='player in trade.tradePlayers'>
    <td>{{ player.name }}</td>
    <td>{{ player.contract_terms }}</td>
    <td>{{ player.position }}</td>
    <td>{{ player.AAV_sixteen_seventeen }}</td>
    <td>{{ player.AAV_seventeen_eighteen }}</td>
    <td>{{ player.AAV_eighteen_nineteen }}</td>
  </tr>
</tbody>
</div>
