h2 {
  color: #368BC1;
  text-align: center;
}

.home img {
  position: absolute;
  margin-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.lightning img {
  position: absolute;
  margin-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.15;
}

.trade img {
  position: absolute;
  margin-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.15;
}

.wild img {
  position: absolute;
  margin-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.15;
}

nav {
  width: 100%;
  text-align: center;
}

.row {
  background-color: #435454;
}

a {
  background-color: #368BC1;
  color: #000000;
}

th {
  text-align: center;
  border: 1px solid black;
}

td {
  opacity: 0.8;
  text-align: center;
  border: 1px solid black;
}

table {
  align-self: center;
  align-items: center;
  align-content: center;
}

#tradeExecute {
  background-color: #368BC1;
}
